<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Add Task</title>
</head>
<body>

<form action="/tasks/add" method="post">

  <input type="text" name="title" placeholder="Please input title" /><br>
  <input type="text" name="description" placeholder="Please input description" /><br>
  <input type="date" name="deadline" placeholder="Please input date" /><br>
  <select name="role">
    <option value="TODO">TODO</option>
    <option value="IN_PROGRESS">IN PROGRESS</option>
    <option value="TESTING">TESTING</option>
    <option value="DONE">DONE</option>
  </select><br>
  <select>
    <option value="user_id"></option>
  </select>
  <input type="submit" name="Add">

</form>


</body>
</html>