<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
</head>
<body>
<table>
  <tr>
    <th>id</th>
    <th>title</th>
    <th>description</th>
    <th>deadline</th>
    <th>user</th>
    <th>status</th>
  </tr>

  <tr th:each="task:${tasks}">
    <td th:text="${task.id}"></td>
    <td th:text="${task.title}"></td>
    <td th:text="${task.description}"></td>
    <td th:text="${task.deadline}"></td>
    <td th:text="${task.user}"></td>
    <td th:text="${task.status.name()}"></td>
  </tr>
</table>
</body>
</html>